<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/alunos/listarAlunos">Listar Alunos</a></li>
        <li><a href="/alunos/Cadastrar">Cadastrar Aluno</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Bem-vindo à nossa escola!</h1>
    <p>Aqui você encontra tudo sobre nossos alunos e nossa instituição.</p>
  </main>
</body>
</html>